<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
</head>
<body>
    <div class="nav">
        <div class="nav-header">
          <div class="nav-title">
<!--            <h5>Car Hire</h5>-->
          </div>
        </div>
        <div class="nav-links">
            <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/signup">SignUp</a></li>
        <li><a href="/login">Login</a></li>
<!--        <li><a href="/logout">Logout</a></li>-->
        <li><a href="/api/customers" target="_blank">API</a></li>
        <li><a href="/vehicles">vehicles</a></li>
        <li><a href="/availability">availability</a></li>
        <li><a href="/generate_daily_report">generate daily report</a></li>

        <li style="display: -webkit-inline-box;position: absolute;right: 1%;">
            <i style="vertical-align: calc(-33%); color: antiquewhite;" class="fa fa-user"></i>
            <a href="{{url_for('logout')}}" >Logout {{ username}}</a>
        </li>
            </ul>
        </div>
      </div>
</body>
</html>
